@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.coustard-regular {
  font-family: "Coustard", serif;
  font-weight: 400;
}

.coustard-black {
  font-family: "Coustard", serif;
  font-weight: 900;
}
body{
  background-color: black;
}
/* .BG {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
} */

/* .BG{
  background-image: url(./assets/imgs/video.gif);
 background-position: center;
 background-repeat: no-repeat;
} */

.BG::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./assets/imgs/video.gif);
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  filter: blur(7px); 
  z-index: -1; 
}
.open-sans{
  font-family: "Open Sans", sans-serif;
}
@keyframes slide-down {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.hover-slide-down:hover {
  animation: slide-down 0.3s ease-out forwards;
  color: rgb(147 50 234);
}